<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills list</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Dylan's Skills List</h1>
      <ul class="list-group">
        <% skills.forEach(function(t) { %>
        <li class="list-group-item">
          <%= t.skills %> - <%= t.done ? 'Completed' : 'Uncompleted' %>
        </li>
        <% }); %>
      </ul>
      <p><a href="/">Return Home</a></p>
    </div>
  </body>
</html>
